extends: stylelint-config-standard
rules:
  indentation: 2
  selector-pseudo-class-no-unknown: true
  no-descending-specificity: null
  unit-whitelist:
  - - em
    - rem
    - "%"
    - s
    - ms
    - px
    - deg
  - ignoreProperties:
      px:
      - background-position
