html, body, .bubble-container {
  min-height: 100%;
  height: 100%;
}

body {
  background: #dcdde0;
}

.bubble-container {
  .input-wrap textarea {
    box-sizing: border-box;
  }
}

.bubble.reply {
  .bubble-content {
    .bubble-button {
      background: rgba(22, 113, 230, 0.65);
    }
  }
}

.bubble.reply:not(.bubble-picked) .bubble-content .bubble-button:hover,
.bubble.reply .bubble-content .bubble-button.bubble-pick {
  background: rgba(22, 113, 230, 1);
}
